html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  font-feature-settings: 'case' 1, 'rlig' 1, 'calt' 0;
}

html,
body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue',
  'Helvetica', sans-serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  @apply text-white bg-zinc-800 antialiased;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;

  background-color: #000000;
  color: #ffffff;
}

* {
  box-sizing: border-box;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style-type: none;
}

input {
  outline: none;
  border: yellow;
  border-radius: 0.3rem;
}